.vscode/
AideBacCollector/

Grille/Grille.xlsx
Grille/Grille.7z
Grille/HowTo.txt

!AideBacCollector
AideBacCollector/*
!AideBacCollector/AideBacCollector.chm

BacCollector_stripped.au3
BacCollector.ini
BacCollector.log
BacCollector.exe
BacCollector*.7z

Tests/
__dev.txt
todo.txt
